.DetailsPage {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  &__car{
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__slider{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    background: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

    position: relative;
    overflow: hidden;
    &__img{
      width: 100%;
      height: 100%;

      &-fide{
        animation: fadeInOut .4s ease;
      }
    }
    &__count{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    &__arrow{
      &:active{
        animation: arrowClick 0.5s ease-in-out;
      }
      &-r{
        position: absolute;
        top:50%;
        right: 10px;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);

        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-l{
        position: absolute;
        top:50%;
        left: 10px;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__body{
    overflow-y: scroll;
    padding-bottom: calc(var(--tg-safe-area-inset-bottom,14px) + 20px + 56px);
  }

  &__CarSchema{
    border-radius: 20px;
    width: 100%;
    height: 196px;
    padding: 15px 10px;
    background: #fff;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title{
      color:#000;
      line-height: 1;
      font-size: 20px;
    }
    img{
      width: 100%;
      height: 130px;
    }
  }

  &__btns{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;

    button,{
      color:#fff;
      font-weight: bold;
      border-radius: 10px;
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 14px;
      height: 56px;
    &:first-child{
      background-color: var(--second-color-emphasis);
    }
      &:last-child{
        background-color: var(--color-emphasis)
      }
    }
  }
  &__back{
    position: fixed;
    bottom: calc(var(--tg-safe-area-inset-bottom,14px) - 5px);
    left: 0;
    width: 100%;
    padding-inline: 20px;
  }
}

@keyframes arrowClick {
  0%{
    opacity:0.4
  }
  100%{
    opacity:1
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
