.MapSelector{
  display: flex;
  flex-direction: column;
  gap:5px;
  &__title{
    font-size: 24px;
    font-weight: bold;
    color:#fff;
    padding-left: 10px;
  }
  &__address{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
    color:#fff;
    padding-left: 10px;
  }
  &__link{
    color:#C69800;
    font-weight: bold;
    background-color: rgba(254, 208, 0, 0.1);
    padding:15px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    height: 53px;
    width: 100%;
    border:none;
  }
}