.ProfilePage{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap:10px;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: inherit;
  padding-inline: 5px;
  padding-top: 5px;
  &__banner{
    width: 100%;
    height: 140px;
    border:4px solid #C60000;
    border-radius: 16px;
    background-color: #CDE5C6;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-empty{
      animation: drags 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    &__body{
      margin:auto 8px;
    }
    &__title{
      font-size: 20px;
      color:#E71818;
      margin-bottom: 15px;
      @media (max-width: 350px) {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
    &__list{
      display: flex;
      flex-direction: column;
      gap:15px;
      margin:0;
    }
  }
  &__card{
    width: 100%;
    min-height: 324px;
    background-color: #151515;
    border-radius: 16px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  &__header{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
  }
  &__desc{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 18px;
    text-align: left;
  }
  &__selectors{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
  }
  &__footer{
    display: flex;
    align-items: center;
    gap:12px;
    margin-bottom: auto;
    @media (max-width: 370px) {
    justify-content: space-between;
    }
  }
  &__toggle{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    border-radius:4px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    fill:#fff;
    &-active{
      background-color: var(--element-bg);
    }
  }
  &__info{
    display: block;
    width: max-content;
    font-weight: bold;
    font-size: 16px;
    color:var(--secondary-bg-color);
    line-height: 19px;
    text-align: left;
    &-active{
      color: var(--element-bg);
    }
    @media (max-width: 380px) {
      font-size: 14px;
    }
    @media (max-width: 350px) {
      font-size: 12px;
    }
  }
}

@keyframes drags{
  0%{
    transform: translateX(0px);
  }
  10%{
    transform: translateX(5px);
  }
  20%{
    transform: translateX(-5px);
  }
  30%{
    transform: translateX(5px);
  }
  40%{
    transform: translateX(-5px);
  }
  60%{
    transform: translateX(5px);
  }
  80%{
      transform: translateX(-5px);
  }
  100%{
    transform: translateX(0px);
  }
}