.NavBar {
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  padding-inline:5px;
  left: 0;
  z-index: 100;
  @media (max-width: 350px) {
    padding-inline: 0;
  }
  &__body{
    height: var(--navbar-height);
    width: 100%;
    z-index: 4;
    background: var(--navbar-bg);
    border-radius: 17px;
    padding: 4px;
    border:1px solid rgba(255, 255, 255, 0.19);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin:0;
    @media (max-width: 350px) {
      padding: 2px;
    }
  }
  &__el{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 28px;
  }
}