.CustomInput{
  width: 100%;
  height: 52px;

  border-radius: 10px;
  background-color: var(--input-bg);

  padding: 6px 15px;
  font-weight: 700;
  color:#fff;

  display: flex;
  align-items: center;
  border:none;

  position: relative;
  cursor: pointer;
  &-active {
    background: var(--second-color-emphasis);
  }
  &__arrow{
    transform: translateY(-40%);
    rotate: 315deg;
    width:13px;
    height:13px;
    border-left:4px solid #fff;
    border-bottom:4px solid #fff;}
    @media (max-width: 490px) {
      width: 160px;
    }
  @media (max-width: 450px) {
    background: var(--input-mobile-bg);
    width: max-content;
    height: 42px;
    border-radius: 50px;
    padding: 12px;
  }
  &-multi{
    position: absolute;
    top:0;
    left:50%;
    height: 100%;
    width: 1px;
    background: #666666;
    transform: translateX(-50%);
  }
  &__labels{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 450px) {
      gap:20px;
    }
  }
  &__label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  &__text{
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    @media (max-width: 900px) {
      font-size: 12px;
    }
  }
}