.CarInfo {
  width: 100%;
  min-height: 192px;
  border-radius: 20px;
  background: var(--card-bg);
  padding:15px;
  &__notice{
    font-size: 14px;
    opacity: 0.7;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__shareToFriend{
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    margin-inline: auto;
    max-width: 530px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;

    font-size: 16px;
    color:#fff;
    background: #31529D;
    font-weight: bold;

    gap:10px;
  }
  &__price{
    width: max-content;
    font-weight: bold;
    position: relative;
  }
  &__list{

    display: flex;
    flex-direction: column;
    gap:15px;
    margin: 20px 0 0 0;
  }
  &__el{
    width: 100%;
    height: 33px;

    display: flex;
    justify-content: space-between;

   &:not(:last-child){
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   }
    &:last-child{
      align-items: flex-end;
      height: max-content;
    }
  }
  &__title,
  &__value{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    @media (max-width: 350px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__title{
    opacity: .6;
  }
  &__info{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__btns,
  {
    margin-top: 15px;
    display: flex;
    gap:8px;
  align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      justify-content: flex-start;
    }
    button,
    {
      width: 100%;
      height: 44px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border:none;

      font-size: 16px;
      color:#fff;
      font-weight: bold;

      gap:7px;

      &:first-child{
        cursor: pointer;
        background: #25D366;
        max-width: 250px;
      }
      &:last-child{
        cursor: pointer;
        background: #29A9EB;
        max-width: 250px;

      }
    }
  }
}